VetteUnityEditor/Library/
VetteUnityEditor/Temp/
VetteUnityEditor/*.csproj
VetteUnityEditor/*.sln
VetteFileReader/obj/
VetteFileReader/VetteFileReader/obj/
*.userprefs
.DS_Store
xcuserdata/
VetteFileReader/MacResourceFork/bin
VetteFileReader/MacResourceFork/obj
VetteFileReader/VetteDataParser/obj
VetteFileReader/VetteUtil/bin
VetteFileReader/packages
VetteUnityEditor/Logs
VetteUnityEditor/obj
VetteFileReader/VetteUtil/obj
VetteUnityEditor/UserSettings
